{
    "mopidyWebSocketUrl": "ws://192.168.0.200:6680/mopidy/ws/",
    "nfcHidPath": "/dev/hidraw0",
    "nfcMusicLibrary": "./nfc-music-library.json",
    "volume": {
        "startup": 30,
        "min": 10,
        "max": 100,
        "step": 10
    },
    "gpio": {
        "17": { push: "previousTrack" },
        "9": { push: "nextTrack" },
        "10": { push: "playPause" },
        "22": { push: "volumeUp" },
        "27": { push: "volumeDown", hold: "playPause" }
    },
    "log": {
        "debug": true,
        "info": true,
        "error": true
    }
}
